<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Annotorious</title>

  <%= stylesheet_link_tag "mobile", :media => "all" %>
  <%= javascript_include_tag "mobile" %>

</head>
<body id="page" class="off-canvas hide-extras gray-background">

  <!--BEGIN top nav-->

  <div class="fixed contain-to-grid top-bar-background top-bar-bottom-shadow">
       <nav class="top-bar top-bar-background">
          <ul class="title-area">
            <!-- Title Area -->

            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
              <li class="toggle-topbar"><a href="#"><span></span></a></li>
            </ul>

        <div class="row top-bar-background">
          <div class="small-9 columns">
            <a href="#" class="small button expand back-button-1">&#x25C0;&nbsp;BACK</a>
            <h5 class="section-title-1"><%= @document.title %></h5>
          </div>

          <div class="small-3 columns add-button-included">

          </div>
        </div>
      </nav>
    </div>

    <!--END top nav-->


    <div class="row gray-background">
      <div class="large-12 columns top-gap">
      </div>
    </div>



    <!--BEGIN document container-->

    <!-- <div class="row gray-background"> -->
      <div class="large-12 columns">
        <div class="row">
          <div id="content" class="small-11 columns document-view-container">
            <div class='content gray-background body-text-document document-view-container' role='main'><!-- Required for cases in which there's no HTML in the text -->
              <%= @document.text.html_safe %>
            </div>
          </div>
        </div>
      </div>
    <!-- </div> -->

    <script type="text/javascript">
      jQuery(function ($) {

        var groups = "<%= current_user.rep_group_list %>".split(/, /);
        var subgroups = "<%= current_user.rep_subgroup_list %>".split(/, /);
        var studio = $('#content').annotator();

        studio.annotator('addPlugin', 'Markdown');
        <% if current_user.has_role?(:admin) && ENV["ANNOTATOR_FILTER"] == 'true' %>
        studio.annotator('addPlugin', 'Filter');
        <% end %>
        studio.annotator('addPlugin', 'Tags');
           // studio.annotator('addPlugin', 'AnnotoriousImagePlugin');
        studio.annotator('addPlugin', 'Unsupported');
        studio.annotator('addPlugin', 'Auth', {
          token: '<%= @jwt %>'
        });

        studio.annotator('addPlugin', 'Touch', {
          force: true
        });

        studio.annotator('addPlugin', 'Store', {
          prefix: '<%= ENV["API_URL"] %>',
          annotationData: {
            'uri': [location.protocol, '//', location.host, location.pathname].join(''),
            "groups": groups,
            "subgroups": subgroups,
            // "username": 'Jamie F.',
          },
          loadFromSearch: {
            'limit': 1000,
            "groups": groups,
            "subgroups": subgroups,
            'user': "<%= current_user.email %>",
            'mode': 'user', // default mode -- user can switch via sidebar button.
            'uri': [location.protocol, '//', location.host, location.pathname].join('')
          }
        });
        studio.annotator('addPlugin', 'Permissions', {
          user: "<%= current_user.email %>",
          permissions: {
            'read': ['<%= current_user.email %>'], // default: review mode; this is what users will need to control
            'update': ['<%= current_user.email %>'], // no one else can ever update
            'delete': ['<%= current_user.email %>'], // no one else can ever delete
            'admin': ['<%= current_user.email %>'] // no one else can ever admin
          },
          // Permissions settings per-annotation
          showViewPermissionsCheckbox: true,
          showEditPermissionsCheckbox: false
        });
        var subscriber = $('#textcontent').annotator().data('annotator');
        // searching for new annotations looks like this subscriber.loadAnnotationsFromSearch({})
      });
    </script>

   <!--END document container-->

   <!-- Footer -->
    <footer class="bottom-bar-background bottom-bar-top-shadow">
      <div class="row bottom-bar-background">
          <div class="large-12 columns">
        <ul class="button-group even-5 expanded bottom-button-lineup">
          <li><a href="#" class="tiny button bottom-button-1"><%= image_tag "TOC_off_36px.png" %><br><br>TOC</a></li>
          <li><a href="#" class="tiny button bottom-button-1"><%= image_tag "marks_icon_off_36px.png" %><br><br>MARKS</a></li>
          <li><a href="#" class="tiny button bottom-button-1"><%= image_tag "filters_off_36px.png" %><br><br>FILTERS</a></li>
          <li><br><br></a></li>
          <li><a href="#" class="tiny button bottom-button-1"><%= image_tag "display_off_36px.png" %><br><br>DISPLAY</a></li>
        </ul>
          </div>
      </div>
    </footer>





  <script>
    $(document).foundation();
  </script>
</body>
</html>
